# Shopify Hydrogen / Oxygen
SESSION_SECRET=your-session-secret
PUBLIC_STOREFRONT_API_TOKEN=your-public-storefront-token
PRIVATE_STOREFRONT_API_TOKEN=your-private-storefront-token
PUBLIC_STORE_DOMAIN=your-store.myshopify.com
PUBLIC_STOREFRONT_ID=your-storefront-id
